# Ignore whole work directory
work/*

# Except work/system.asn
!work/system.asn

# Ignore qt creator cache directory
.qtc_clangd

# Ignore qt creator user files
*.pro.user*

# Ignore aadl files
*.aadl

# Except MEMORYACCESS source files
!work/memoryaccess
work/memoryaccess/*
!work/memoryaccess/C
work/memoryaccess/C/*
!work/memoryaccess/C/src
work/memoryaccess/C/src/*
!work/memoryaccess/C/src/memoryaccess.c

# Except TESTFUNCTION source files
!work/testfunction
work/testfunction/*
!work/testfunction/C
work/testfunction/C/*
!work/testfunction/C/src
work/testfunction/C/src/*
!work/testfunction/C/src/testfunction.c
